src/META-INF/prism.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/schema/prism"
	xmlns:tns="http://www.example.org/schema/prism"
	elementFormDefault="qualified">

	<element name="prism">

		<complexType>
			<all>

				<element name="db" minOccurs="0" maxOccurs="1">
					<complexType>
						<sequence minOccurs="1" maxOccurs="unbounded">
							<element name="sql">
								<complexType mixed="true">
									<attribute name="id" type="string" />
									<attribute name="type" type="string" />
									<attribute name="depend" type="string" use="optional" />
									<attribute name="key" type="string" use="optional" />
								</complexType>
							</element>
							<element name="return" minOccurs="0" maxOccurs="1">
								<complexType mixed="true">
									<attribute name="type" type="string" />
								</complexType>
							</element>
						</sequence>
					</complexType>

				</element>
				
				<element name="view" minOccurs="0" maxOccurs="1">
					<complexType>
						
						<sequence>
							<element name="text" minOccurs="0" maxOccurs="1">
								<complexType mixed="true"></complexType>
							</element>
							
							<element name="var"  minOccurs="0" maxOccurs="unbounded">
								<complexType mixed="true">
									<attribute name="name" type="string" use="optional" />
									<attribute name="type" type="string"/>
								</complexType>
							</element>
						</sequence>
						
						<attribute name="include" type="string"  />
						
						<attribute name="template" type="string" use="optional" />
						<attribute name="ref" type="string"  />
					</complexType>
				</element>


			</all>

			<attribute name="id" type="string" />
			<attribute name="aop" type="string" />
			<attribute name="dataSource" type="string" use="required" />

		</complexType>
	</element>

</schema>